$columns: 12;
$column-gap: 10px;
$rows: 12;
$row-gap: 10px;
$max-width: 75vw;
$row-min-height: 10px;


:root {
    --columns: $columns;
    --column-gap: $column-gap;
    --rows: $rows;
    --row-gap: $row-gap;
    --row-min-height: $row-min-height;
    --max-width: $max-width;
}

.grid {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);

}

.grid.vertical {
    grid-template-rows: repeat(var(--rows), minmax(var(--row-min-height), min-content));
}

.grid.gutter {
    grid-column-gap: var(--column-gap);
    grid-row-gap: var(--row-gap);
}


@for $i from 1 through ($columns + 1){
    .gc-s#{$i} {
        grid-column-start: $i;
    }
    .gc-e#{$i} {
        grid-column-end: $i;
    }
    .gr-s#{$i} {
        grid-row-start: $i;
    }
    .gr-e#{$i} {
        grid-row-end: $i;
    }
}


